# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.svn
*.pb.h
*.pb.cc
boost
temp
*.bat
*.vcxproj.user
.vs
*.pdb
*.exp
*.bsc
*.dll
*.ilk
Mapfile
*.log
*.xml
*.ini
*.manifest
*.lnk
*.dmp
enc_temp_folder
*.map
*.iobj
*.ipdb
*.zip
pg_battle_Publish
*.bin
x64